<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/css/bootstrap.css">

<link rel="stylesheet" href="/css/basic.css">

<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>

<script type="text/javascript" src="/js/base.js"></script>

<%- include('./public/header.html') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
         	<%- include('./public/left-menu.html') %>
        </div>
        <div class="col-sm-10">
              <h1>欢迎你到,myshop 管理界面</h1>
        </div>
    </div>
</div>

</body>
</html>
