<ul class="aside">

	<li>
		<h4>管理员管理</h4>

		<ul>
			<li class="list-group-item"> <a href="/admin/manager"> 管理员列表</a></li>

			<li class="list-group-item"> <a href="/admin/manager/add">增加管理员</a></li>
		</ul>
	</li>
	<li>
		<h4>分类管理</h4>
		<ul>
			<li class="list-group-item"> <a href="/admin/goodsCate"> 商品分类列表</a></li>

			<li class="list-group-item"> <a href="/admin/goodsCate/add">增加商品分类</a></li>
		</ul>
	</li>
	<li>
		<h4>商品管理</h4>

		<ul>
			<li class="list-group-item"> <a href="/admin/goods"> 商品列表</a></li>

			<li class="list-group-item"> <a href="/admin/goods/add">增加商品</a></li>
		</ul>
	</li>
	<li>
		<h4>订单管理</h4>

		<ul>
			<li class="list-group-item"> <a href="/admin/order">订单列表</a></li>
		</ul>
	</li>
	<li>
		<h4>轮播图管理</h4>

		<ul>
			<li class="list-group-item"> <a href="/admin/focus">轮播图列表</a></li>

			<li class="list-group-item"> <a href="/admin/focus/add">轮播图商品</a></li>
		</ul>
	</li>

</ul>